:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 93.75%;}

.body {background: #f0f2f5;font-family: 'Poppins', sans-serif;}

.body.dark-mode {background: #252525;font-family: 'Poppins', sans-serif;}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

/*Função min() aceita dois parâmetros e sempre deixa o menor valor*/
.container {
    width: min(90vw, 800px); /*90% da viewport ou 800px*/
    /*quando 90% da largura total for maior que 800px, então fica 800px*/
    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #fff;
    font-weight: normal;
}

a {color: var(--green);text-decoration: none;}

a:hover {color: var(--light-green);
}

a.dark-mode {color: lightgray;
}

a.dark-mode:hover {color: rgb(160, 158, 158);
}

button {
    width: 100%;
    height: 50px;
    color: #fff;
    background: var(--green);
    padding: 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {background: var(--light-green);}

.button.new {display: inline-block;margin-bottom: 0.8rem;}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {opacity: 1;}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2D4A22;
    padding: 2rem 0 12rem;
}

header .top-bar {
    width: 100%;
    margin-top: -1.5rem;
    display: flex;
    color: #fff;
}
header .toggle-wrapper {
    width: 50%;
    display: flex;
    padding-left: 0.8rem;
    align-items: center;
}

/*início toggle button on/off*/
.toggle-wrapper .button {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background: #141414;
    outline: none;
}

.toggle-wrapper .span {
    width: 17px;
    height: 16px;
    border-radius: 50px;
    position: absolute;
    background: #fff;
    transform: translateX(2px);
    transition: transform 0.25s linear;
}

.toggle-wrapper .span.dark {
    transform: translateX(31px);
    transition: transform 0.25s linear;
    background: rgb(252, 250, 250);
}

.toggle-wrapper span {
    width: 50px;
    height: 25px;
    background: transparent;
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
}

/*fim toggle button on/off*/

header .icons-midia {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.8rem;
}

header .icons-midia a {margin-left: 0.5rem;color: #fff;}

#balance {margin-top: -11rem;}

#balance h2 {color: #fff;margin-top: 0;}

.card {
    background: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {background: var(--green);color: #fff;}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: blue;
}

#transaction {
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-top: 10px;
}

table thead tr th:first-child, /*primeiro th dentro de tr dentro de thead dentro de table*/
table tbody tr td:first-child {border-radius: 0.25rem 0 0 0.25rem;} /*primeiro td dentro de tr dentro de tbody dentro de table*/

table thead tr th:last-child,
table tbody tr td:last-child {border-radius: 0 0.25rem 0 0.25rem;}

table th {
    background: #fff;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    color: #969cb3;
}

table tbody tr {opacity: 0.7;}

table tbody tr:hover {opacity: 1;}

table td {background: #ffffff;padding: 1rem 2rem;}

td.description {color: var(--dark-blue);}

td.income {color: rgb(31, 212, 31);}

td.expense {color: red;}

html, body {height: 100%;}

/*Estilização do modal*/
.modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay .help {color: rgb(20, 19, 19);}

.modal {
    background: #F0F2f5;
    padding: 2.4rem;
    border-radius: 0.25rem;
}

.modal-overlay.active {opacity: 1;visibility: visible;}

/*Estilização do formulário do modal*/
#form {max-width: 500px;}

#form h2 {margin-top: 0; color: #808080;}

#form form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {margin-top: 0.8rem;}

.input-group small {opacity: 0.8; color: black;}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button {
    background: rgb(209, 20, 20);
    border: none;
    color: #fff;
    opacity: 1;
}

.input-group.actions .button:hover {background: red;}

.input-group.actions .button,
.input-group.actions button {width: 40%;}

.input-group.actions button {background: var(--green);outline: none;}

.input-group.actions button:hover {background: var(--light-green);}

/*Responsive*/
@media (min-width: 800px) {
    html {font-size: 87.5%;} /*14px*/

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*-> repeat(3, 1fr)*/
        gap: 2rem; /*Espaçamento entre as caixas do grid*/
    }
}

@media (max-width: 799px) {
    header .icons-midia span {display: none;}
}